
#tabs_container {
    font-size: 25px ;
    border-bottom: 3px solid #000000;
}
#tabs {
    list-style: none;
    padding: 5px 0 4px 0;
    margin: 0 0 0 10px;
    font: 0.75em arial;
}
#tabs li {
    display: inline;
    white-space: nowrap;
}
#tabs li a {   
    border: 3px solid #000000;
    padding: 6px 8px;
    text-decoration: none;
    background-color: #050505;
    border-bottom: none;
    outline: none;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}
#tabs li a:hover {
    background-color: #111111;
    position: relative;
    margin-bottom: 1px;
}
#tabs li.active a {
    top:-2px;
    border-bottom: 3px solid #000000;
    background-color: #222222;
    padding: 4px 6px 5px 6px;
    border-bottom: none;
}
#tabs li.active a:hover {
    background-color: #222222;
    padding: 4px 6px 5px 6px;
    border-bottom: none;
}
 
#tabs li a.icon_accept {
    background-image: url(accept.png);
    background-position: 5px;
    background-repeat: no-repeat;
    padding-left: 24px;
}
#tabs li a.icon_accept:hover {
    padding-left: 24px;
}
 

.tab_content {
    padding: 5px;
    display: none;

}

.socialthumb {
    
    position:relative;
    left:-2px;
    top:5px;
}

a{
    color: #1b76cb;
}
