.twitStream{
    font-family: verdana;
    font-size: 11px;
}
.twitStream a{
 font-family: verdana;
 font-size: 11px;
}
.tweet{
    display: block;
    padding-left: 0.4em;
}
.tweet-left{
    float: left;
    margin-right: 1em;
}
.tweet-left img{
    border: 2px solid #000000;
}
.tweet p.text{
    margin: 0;
    padding: 0;
}

.mainbox{
    
    display:block;
    

    padding:3px;
    
    background-color: #FFFFFF;
    -moz-border-radius: 15px;
    border-radius: 15px;
   
    
    -moz-box-shadow: inset 0 0 60px 5px #888;
    -webkit-box-shadow: inset 0 0 60px 5px#888;
    box-shadow: inset 0 0 60px 5px #888;
}
​
